mcp/
.env
__pycache__/
*.pyc
*.log
**/.git/
.claude/
.MCPServer.py.swp
**/.config-repo-ar/
**/.config-repo-ar/**
clab-mcp-lab/**
!clab-mcp-lab/**/
!clab-mcp-lab/topology-data.json
!clab-mcp-lab/ansible-inventory.yml
!clab-mcp-lab/nornir-simple-inventory.yml